@model Base2art.CiCd.PackageStore.Web.UI.ViewModels.LayoutViewModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="@Model.Author">

    <title>@Model.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/css/main.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/vendor/template-1/css/landing-page.css" rel="stylesheet">

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">NuGet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @* <li class="nav-item active"> *@
                @*     <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> *@
                @* </li> *@
                <li class="nav-item">
                    <a class="nav-link" href="/spaces">Spaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/keys">Keys</a>
                </li>
                @* <li class="nav-item dropdown"> *@
                @*     <a class="nav-link dropdown-:toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> *@
                @*         Dropdown *@
                @*     </a> *@
                @*     <div class="dropdown-menu" aria-labelledby="navbarDropdown"> *@
                @*         <a class="dropdown-item" href="#">Action</a> *@
                @*         <a class="dropdown-item" href="#">Another action</a> *@
                @*         <div class="dropdown-divider"></div> *@
                @*         <a class="dropdown-item" href="#">Something else here</a> *@
                @*     </div> *@
                @* </li> *@
                @* <li class="nav-item"> *@
                @*     <a class="nav-link disabled" href="#">Disabled</a> *@
                @* </li> *@
            </ul>
            <div>
            @if (Model.User?.Identity?.IsAuthenticated == true)
            {
                <span>@Model.UserData.Name (@Model.UserData.Email)</span>
                <a class="btn btn-primary" href="/auth/sign-out?returnUrl=@Model.Url">Sign Out</a>
            }
            else
            {
                <a class="btn btn-primary" href="/auth/sign-in?returnUrl=@Model.Url">Sign In</a>
            }
            </div>
            @* <form class="form-inline my-2 my-lg-0"> *@
            @*     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> *@
            @*     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> *@
            @* </form> *@
        </div>
    </div>
</nav>

@*
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">


    <div class="container">
        
        
        
        <a class="navbar-brand" href="/">NuGet</a>
        <div class="d-flex ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="globalNavbar">
            <form class="form-inline form-navbar my-2 my-lg-0 order-2" action="https://themes.getbootstrap.com/shop/">
                <input class="form-control" name="s" type="text" placeholder="Search">
            </form>
            <ul class="navbar-nav mr-auto order-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="navbar-collapse navbar-top-collapse">
                            <ul id="menu-top-menu" class="nav navbar-nav">
                                <li id="menu-item-601" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-601">
                                    <a title="Admin &amp; Dashboard" href="https://themes.getbootstrap.com/product-category/admin-dashboard/">Admin &amp; Dashboard</a>
                                </li>
                                <li id="menu-item-603" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-603">
                                    <a title="Landing &amp; Corporate" href="https://themes.getbootstrap.com/product-category/landing-corporate/">Landing &amp; Corporate</a>
                                </li>
                                <li id="menu-item-1537" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1537">
                                    <a title="Application" href="https://themes.getbootstrap.com/product-category/application/">Application</a>
                                </li>
                                <li id="menu-item-602" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-602">
                                    <a title="E-Commerce &amp; Retail" href="https://themes.getbootstrap.com/product-category/ecommerce-retail/">E-Commerce &amp; Retail</a>
                                </li>
                                <li id="menu-item-1538" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1538">
                                    <a title="Portfolio &amp; Blog" href="https://themes.getbootstrap.com/product-category/portfolio-blog/">Portfolio &amp; Blog</a>
                                </li>
                                <li id="menu-item-1539" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1539">
                                    <a title="Specialty" href="https://themes.getbootstrap.com/product-category/specialty/">Specialty</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://themes.getbootstrap.com/official-themes">Why Our Themes?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://themes.getbootstrap.com/guide">The Guide</a>
                </li>
            </ul>
            <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                <li class="nav-item">
                    <a class="nav-link" href="https://themes.getbootstrap.com/signin/">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://themes.getbootstrap.com/my-account/">Sign up</a>
                </li>
            </ul>
            <ul class="navbar-nav d-lg-none">
                <li class="nav-item-divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="https://themes.getbootstrap.com/signin/">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://themes.getbootstrap.com/my-account/">Sign up</a>
                </li>
            </ul>
        </div>
        $1$ <ul style="display: inline"> #1#
        $1$     <li><a href="/channels">Channels</a></li> #1#
        $1$     <li><a href="/keys">Keys</a></li> #1#
        $1$ </ul> #1#
        @if (Model.User?.Identity?.IsAuthenticated == true)
        {
            <a class="btn btn-primary" href="/auth/sign-out?returnUrl=@Model.Url">Sign Out</a>
        }
        else
        {
            <a class="btn btn-primary" href="/auth/sign-in?returnUrl=@Model.Url">Sign In</a>
        }

    </div>
</nav>*@

<div class="mainBodySection my-3">
    <div class="container">
        @if (Model.Body != null)
        {
            @Html.Raw(await (await Model.Body).Render())
        }

    </div>
</div>
<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                @* <ul class="list-inline mb-2"> *@
                @*     <li class="list-inline-item"> *@
                @*         <a href="#">About</a> *@
                @*     </li> *@
                @*     <li class="list-inline-item">&sdot;</li> *@
                @*     <li class="list-inline-item"> *@
                @*         <a href="#">Contact</a> *@
                @*     </li> *@
                @*     <li class="list-inline-item">&sdot;</li> *@
                @*     <li class="list-inline-item"> *@
                @*         <a href="#">Terms of Use</a> *@
                @*     </li> *@
                @*     <li class="list-inline-item">&sdot;</li> *@
                @*     <li class="list-inline-item"> *@
                @*         <a href="#">Privacy Policy</a> *@
                @*     </li> *@
                @* </ul> *@
                @if (Model.ShowCopyright)
                {
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Base2art @(DateTime.Now.Year). All Rights Reserved.</p>
                }
                else
                {
                    <p class="text-muted small mb-4 mb-lg-0">&copy; @(DateTime.Now.Year). All Rights Reserved.</p>
                }
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                @* <ul class="list-inline mb-0"> *@
                @*     <li class="list-inline-item mr-3"> *@
                @*         <a href="#"> *@
                @*             <i class="fab fa-facebook fa-2x fa-fw"></i> *@
                @*         </a> *@
                @*     </li> *@
                @*     <li class="list-inline-item mr-3"> *@
                @*         <a href="#"> *@
                @*             <i class="fab fa-twitter-square fa-2x fa-fw"></i> *@
                @*         </a> *@
                @*     </li> *@
                @*     <li class="list-inline-item"> *@
                @*         <a href="#"> *@
                @*             <i class="fab fa-instagram fa-2x fa-fw"></i> *@
                @*         </a> *@
                @*     </li> *@
                @* </ul> *@
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/app/js/main.js"></script>

</body>

</html>