@using System.Text.RegularExpressions
@using Base2art.CiCd.PackageStore.Web.UI
@using Base2art.CiCd.PackageStore.Web.UI.Public.Resources
@using System.Collections.Generic
@using Newtonsoft.Json
@model Base2art.CiCd.PackageStore.Web.UI.ViewModels.Keys.EditViewModel

<div id="mainForm">
    @using (this.Card())
    {
        // using (var panel = this.PagePanel())
        {
            // using (panel.Header())
            {
                @this.ListPageHeader("Manage Keys")
            }

            // using (panel.Body())
            {
                @using (var form = this.Form())
                {
                    @using (this.Fieldset($"Key: {Model.OperationType}..."))
                    {
                        @await form.ValidationSummary(Model.Data).WithErrors(Model.Errors.Errors.Select((x => (x.ErrorCode, x.ErrorMessage, x.PropertyName))).ToArray()).Build()

                        @(await form.TextInput(Model.Data)
                                    .For(x => x.Name)
                                    .WithLabel("Key Name")
                                    // .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                    .Required(Model.DataValidation.IsRequired(x => x.Name))
                                    .Build())

                        @(await form.TextInput(Model.Data)
                                    .ForDate(x => x.Expires)
                                    // .WithDefaultValue(DateTime.Today.AddYears(1))
                                    .WithLabel("Key Expiration")
                                    // .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                    .Required(Model.DataValidation.IsRequired(x => x.Name))
                                    .Build())

                        
                        @(await form.ChooserInput(Model.Data)
                                    .For(x => x.CanRead)
                                    .WithLabel("Access Level")
                                    .WithOptions(new[]
                                                 {
                                                     new KeyValuePair<string, string>("True", "Allow Read")
                                                 })
                                    // .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                    // .Required(Model.DataValidation.IsRequired(x => x.Name))
                                    .Build())
                        
                        @(await form.ChooserInput(Model.Data)
                                    .For(x => x.CanWrite)
                                    .WithLabel("")
                                    .WithOptions(new[]
                                                 {
                                                     new KeyValuePair<string, string>("True", "Allow Push")
                                                 })
                                    // .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                                    // .Required(Model.DataValidation.IsRequired(x => x.Name))
                                    .Build())

@*                          @(await form.ChooserInput(Model.Data) *@
@*                                      .For(x => x.CanRead) *@
@*                                      .WithLabel("Access Level") *@
@*                                      .WithOptions(new[] {new KeyValuePair<string, string>("True", "Allow Push")}) *@
@*                                      // .ReadOnly((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty) *@
@*                                      // .Required(Model.DataValidation.IsRequired(x => x.Name)) *@
@*                                      .Build()) *@

@*
                        @if ((Model?.Data?.Id).GetValueOrDefault() != Guid.Empty)
                        {
                            @(await form.TextInput(Model.Data)
                                        .For(x => x.Owner.PersonName)
                                        .WithLabel("Owner")
                                        .ReadOnly()
                                        .Build())
                        }
                        *@

@*                         @if ((Model?.Data?.Id).GetValueOrDefault() == Guid.Empty) *@
                        // {
                        @await form.Submit(Model.Data).For(x => x.Id).Build()
                        // }
                    }
                }
            }
        }
    }

    @* <pre><code>@JsonConvert.SerializeObject(Model.Data, Formatting.Indented)</code></pre> *@
</div>


@*         @using (var form = this.Form()) *@
@*         { *@
@*         } *@
@* <script> *@
@* *@
@* /* *@
@* function showHide_Accordion(e) { *@
@*     // var target = e.target; *@
@*     // var key = e.dataset.key; *@
@*     var parent = $(e).closest(".accordion-row"); *@
@*     $(".accordion-panel", parent).toggle(); *@
@*      *@
@*     return false; *@
@* } *@
@* */ *@
@* // (function (){  *@
@* // var body = document.getElementsByTagName("body")[0];  *@
@* // })(); *@
@* *@
@* </script> *@