@using Base2art.CiCd.PackageStore.Web.Data
@using Base2art.CiCd.PackageStore.Web.Data.Models
@using Base2art.CiCd.PackageStore.Web.UI.Public.Resources
@using Newtonsoft.Json
@model Base2art.CiCd.PackageStore.Web.UI.ViewModels.Keys.IndexViewModel


<!-- Call to Action -->
<section class="page-title text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Keys</h2>
            </div>
        </div>
    </div>
</section>

@* <pre><code>@(JsonConvert.SerializeObject(Model.Keys))</code></pre> *@

<!-- Call to Action -->
<section class="text-center mb-5">
    @* <div class="overlay"></div> *@
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-right">
                <a href="/keys/new">Add +</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        @* <th scope="col">#</th> *@
                        <th scope="col">Name</th>
                        <th scope="col">Access</th>
                        <th scope="col">Expires</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var key in Model.Keys)
                    {
                        <tr>
                            @* <th scope="row">1</th> *@
                            <td>@(key.Name)</td>
                            <td>
                                @if (key.CanRead && key.CanWrite)
                                {
                                    <text>read / write</text>
                                }
                                else if (key.CanRead)
                                {
                                    <text>read only</text>
                                }
                                else if (key.CanWrite)
                                {
                                    <text>write only</text>
                                }
                                else
                                {
                                    <text>Inactive</text>
                                }
                            </td>
                            @* <td>@(space.Owner?.PersonName)</td> *@
                            @* <td> *@
                            @*     <div> *@
                            @*         <span>Read: </span><span>@(string.IsNullOrWhiteSpace(space.ReadGroupName) ? "(public)" : space.ReadGroupName)</span> *@
                            @*     </div> *@
                            @*     <div> *@
                            @*         <span>Write: </span><span>@(string.IsNullOrWhiteSpace(space.WriteGroupName) ? "(public)" : space.WriteGroupName)</span> *@
                            @*     </div> *@
                            @* *@
                            @* </td> *@
                            @*                             <td> *@
                            @*                                 <ul class="clean-list"> *@
                            @*                                     @foreach (var channel in space.Channels ?? new Channel[0]) *@
                            @*                                     { *@
                            @*                                         <li>@(channel.Name)</li> *@
                            @*                                     } *@
                            @*                                 </ul> *@
                            @*                             </td> *@
                            <td>
                                @(key.Expires.ToString("yyyy-MM-dd"))
                            </td>
                            <td>

                                @* <ul class="inline-list"> *@
                                @* <li> *@
                                @if (key.CanDelete)
                                {
                                    <form method="post" action="/keys/delete/@(key.Id)">
                                        <button style="display: contents;" type="submit"><i class="fas fa-trash"></i></button>
                                    </form>
                                }
                                @* </li> *@
                                @* </ul> *@
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>