@using Base2art.CiCd.PackageStore.Web.UI
@using System.Collections.Generic
@model Base2art.CiCd.PackageStore.Web.UI.ViewModels.Keys.PickUrlViewModel

@using (this.Card())
{
    // using (var panel = this.PagePanel())
    {
        // using (panel.Header())
        {
            @this.ListPageHeader("Manage Project")
        }

        // using (panel.Body())
        {
            @using (var form = this.Form())
            {
                @using (this.Fieldset($"Create Url"))
                {
@*                     <text>HERE</text> *@
                @*                                         @await form.ValidationSummary(Model.Data).WithErrors(Model.Errors.Errors.Select((x => (x.ErrorCode, x.ErrorMessage, x.PropertyName))).ToArray()).Build() *@
@* *@
                    <div id="keyTypeContainer">
                        @(await form.ChooserInput(Model)
                                    .For(x => x.KeyType)
                                    .WithLabel("Key Type")
                                    
                                    .WithOptions(new[]
                                                 {
                                                     new KeyValuePair<string, string>("readWrite", "Read / Write"),
                                                     new KeyValuePair<string, string>("read", "Read Only"),
                                                     new KeyValuePair<string, string>("write", "Write Only"),
                                                 })
                                    .ShowCompact()
                                    // .WithDefaultValue("readWrite")
                                    .Build())
                    </div>

                    <div id="keyReadWriteContainer">
                        @(await form.ChooserInput(Model)
                                    .For(x => x.KeyId)
                                    .WithLabel("Read / Write Keys")
                                    .WithOptions(Model.Keys
                                                      .Where(x => x.CanRead && x.CanWrite)
                                                      .Select(x => new KeyValuePair<string, string>(x.Password.ToString("D"), x.Name)).ToArray())
                                    .ShowCompact()
                                    .Build())
                    </div>

                    <div id="keyReadOnlyContainer" style="display: none;">
                        @(await form.ChooserInput(Model)
                                    .For(x => x.KeyId)
                                    .WithLabel("Read Keys")
                                    .WithOptions(Model.Keys
                                                      .Where(x => x.CanRead && !x.CanWrite)
                                                      .Select(x => new KeyValuePair<string, string>(x.Password.ToString("D"), x.Name)).ToArray())
                                    .ShowCompact()
                                    .Build())
                    </div>

                    <div id="keyWriteOnlyContainer" style="display: none;">
                        @(await form.ChooserInput(Model)
                                    .For(x => x.KeyId)
                                    .WithLabel("Write Keys")
                                    .WithOptions(Model.Keys
                                                      .Where(x => !x.CanRead && x.CanWrite)
                                                      .Select(x => new KeyValuePair<string, string>(x.Password.ToString("D"), x.Name)).ToArray())
                                    .ShowCompact()
                                    .Build())
                    </div>

                    <div id="urlContainer">
                        @(await form.TextInput(Model)
                                    .For(x => x.Url)
                                    .WithLabel("Url")
                                    .Build())
                    </div>
                    <div>
                        <button onclick="return CopyToClipboard()">Copy</button>
                    </div>
                    <div style="visibility: hidden" id="displayMessageContainer">
                        Url Copied...
                    </div>
                }
            }
        }
    }
}

<script>

function CopyToClipboard() {
    var input = $("#urlContainer input").val().trim();
    navigator.clipboard.writeText(input).then(function() {
        /* clipboard successfully set */
        document.getElementById("displayMessageContainer").style.visibility = "visible";
        setTimeout(function (){
             document.getElementById("displayMessageContainer").style.visibility = "hidden";
        }, 5000);
      }, function() {
        /* clipboard write failed */
        alert("Failed to copy to the clipboard");
      });
    
    return false;
}

window.addEventListener('load', function(event) {
    
    var keyTypeContainer = $("#keyTypeContainer input, #keyTypeContainer select");
    var keyReadWriteContainer = $("#keyReadWriteContainer");
    var keyReadContainer = $("#keyReadOnlyContainer");
    var keyWriteContainer = $("#keyWriteOnlyContainer");
    
    // var container = $("#keyContainer select"); 
    
    var triggerChange = function(){
        
        var typeTarget = keyReadWriteContainer;
        if (keyTypeContainer.val() === "read") {
            typeTarget = keyReadContainer;
        }
        if (keyTypeContainer.val() === "write") {
            typeTarget = keyWriteContainer;
        }
        
        keyReadWriteContainer.hide();
        keyReadContainer.hide();
        keyWriteContainer.hide();
        
        typeTarget.show();
        
        var url = "{baseUrl}api/v3/{spaceId}/{channelId}/{readPassword}/index.json";
        var baseUrl = "@(Model.Url)";
        var spaceId = "@(Model.SpaceId)";
        var channelId = "@(Model.ChannelId)";
        var readPassword = $("select", typeTarget).val();
        
        var input = $("#urlContainer input");
        input.val( window.b2a.utils.interpolate(url, {baseUrl, spaceId, channelId, readPassword}) );
    };
    
    keyTypeContainer.change(function(e){triggerChange();});
    keyReadWriteContainer.change(function(e){triggerChange();});
    keyReadContainer.change(function(e){triggerChange();});
    keyWriteContainer.change(function(e){triggerChange();});
    triggerChange()
});

</script>