@model Base2art.Web.App.Principals.Auth.ViewModels.LayoutViewModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    @* <meta name="author" content="@Model.Author"> *@

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" onerror="this.onerror=null;this.href='//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css';"/>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"  onerror="this.onerror=null;this.href='//cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css';"/>
    @* <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"> *@
    @* <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> *@

    <!-- Custom styles for this template -->
    @* <link href="/vendor/template-1/css/landing-page.css" rel="stylesheet"> *@

    <style type="text/css">
        html,
        body {
          height: 100%;
        }
        
        body {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-flex-align: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #f5f5f5;
        }
        
        .wide-body {
          width: 100%;
          max-width: 1000px;
          padding: 15px;
          margin: 0 auto;
        }
        
        .slim-body {
          width: 100%;
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .slim-body .checkbox {
          font-weight: 400;
        }
        .slim-body .form-control {
          position: relative;
          box-sizing: border-box;
          height: auto;
          padding: 10px;
          font-size: 16px;
        }
        .slim-body .form-control:focus {
          z-index: 2;
        }
        .slim-body input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .slim-body input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        
    </style>

    <style>
      .auth-icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    
      .auth-scheme-google::before {
        font-family: "Font Awesome 5 Brands";  content: "\f1a0";
      }
    
      .auth-scheme-amazon::before {
      /*font-weight: 400;*/
        font-family: "Font Awesome 5 Brands";  content: "\f270";
      }
    
      .auth-scheme-facebook::before {
        font-family: "Font Awesome 5 Brands"; content: "\f09a";
      }
      
      .auth-scheme-azure-ad::before {
        font-family: "Font Awesome 5 Brands"; content: "\f17a";
      }
    </style>
</head>

<body class="text-center">

@if (Model.SmallBody)
{
    <div class="slim-body">
        <div style="width: 100%; display: flex; justify-content: center;">
            <div class="mb-4 w3-theme"
                 style="width: 72px; height: 72px; background-color: #563D7C; color: #FFFFFF;border-radius: 10px;">
                <span style="font-family: sans-serif; font-size: 48px;">B</span>
            </div>
        </div>
        @* <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> *@
        @if (Model.Body != null)
        {
            @Html.Raw(await (await Model.Body).Render())
        }

    </div>
}
else
{
    <div class="wide-body">
        @if (Model.Body != null)
        {
            @Html.Raw(await (await Model.Body).Render())
        }
        <p class="mt-5 mb-3 text-muted">&copy; @(DateTime.UtcNow.Year)</p>
    </div>
}
</body>

</html>