@using Base2art.Web.App.Principals.Auth.Public.Controllers
@model Base2art.Web.App.Principals.Auth.ViewModels.SignInViewModel


<h1 class="h3 mb-3 font-weight-normal">Choose Sign In Method</h1>

@if (Model.Message.HasValue)
{
    if (Model.Message.Value == FailureMessage.BadDomain)
    {
        <p style="color: red;">Must have the correct Domain: <b>@(Model.RequiredDomain)</b></p>
    }
}
@* background-color: #563D7C; *@
<ul style="list-style: none; padding-inline-start: 0; background-color: #FFFFFF; border-radius: 20px; margin-bottom: 0">
    @foreach (var scheme in Model.Schemes.OrderBy(x=>x.DisplayName))
    {
        <li style="line-height: 3rem;"><a href="/auth/sign-in/@(scheme.Name)?returnUrl=@(Model.ReturnUrl)">
            <i class="auth-icon auth-scheme-@(scheme.Name)"></i> 
            @scheme.DisplayName
        </a></li>
    }
    
    @*<li style="line-height: 3rem;"><a href="/auth/sign-in/integrated-ad?returnUrl=@(Model.ReturnUrl)"><i class="fab fa-windows"></i> Active Directory</a></li>
    <li style="line-height: 3rem;"><a href="/auth/sign-in/amazon?returnUrl=@(Model.ReturnUrl)"><i class="fab fa-amazon"></i> Amazon</a></li>
    <li style="line-height: 3rem;"><a href="/auth/sign-in/google?returnUrl=@(Model.ReturnUrl)"><i class="fab fa-google"></i> Google</a></li>
    <li style="line-height: 3rem;"><a href="/auth/sign-in/facebook?returnUrl=@(Model.ReturnUrl)"><i class="fab fa-facebook"></i> Facebook</a></li>
    <li style="line-height: 3rem;"><a href="/auth/sign-in/forms?returnUrl=@(Model.ReturnUrl)"><i class="fas fa-home"></i> Forms</a></li>*@
    @* <li><a href="/auth/sign-in/azure">Azure</a></li> *@
</ul>