@using Base2art.CiCd.PackageStore.Web
@using Base2art.CiCd.PackageStore.Web.Data
@using Base2art.CiCd.PackageStore.Web.Data.Models
@using Base2art.CiCd.PackageStore.Web.UI
@using Base2art.CiCd.PackageStore.Web.UI.Public.Resources
@model Base2art.CiCd.PackageStore.Web.UI.ViewModels.Spaces.IndexViewModel


<!-- Call to Action -->
<section class="page-title text-white text-center mb-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Spaces</h2>
            </div>
        </div>
    </div>
</section>


<!-- Call to Action -->
<section class="text-center mb-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        @* <th scope="col">#</th> *@
                        <th scope="col">Name</th>
                        <th scope="col">Owner</th>
                        @* <th scope="col">Access</th> *@
                        <th scope="col">Channels</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var space in Model.Spaces)
                    {
                        var canPush = RequireAuthProviders.IsAllowed(space.PushAddresses, space.PushDomains, Model.UserAddress);
                        var canManage = RequireAuthProviders.IsAllowed(space.ManagementAddresses, space.ManagementDomains, Model.UserAddress);

                        <tr>
                            @* <th scope="row">1</th> *@
                            <td>@(space.Name)</td>
                            <td>@(space.Owner?.PersonName)</td>
                            @* <td> *@
                            @*     <div> *@
                            @*         <span>Read: </span><span>@(string.IsNullOrWhiteSpace(space.ReadGroupName) ? "(public)" : space.ReadGroupName)</span> *@
                            @*     </div> *@
                            @*     <div> *@
                            @*         <span>Write: </span><span>@(string.IsNullOrWhiteSpace(space.WriteGroupName) ? "(public)" : space.WriteGroupName)</span> *@
                            @*     </div> *@
                            @* *@
                            @* </td> *@
                            <td>
                                @if (canPush)
                                {
                                    <ul class="clean-list">
                                        @foreach (var channel in space.Channels ?? new Channel[0])
                                        {
                                            <li>
                                                <a href="#" onclick="return openChannelView('@(space.Id.ToString("N"))', '@(channel.Id.ToString("N"))')">@(channel.Name)</a>
                                            </li>
                                        }
                                    </ul>   
                                }
                            </td>
                            <td>
                                @if (canManage)
                                {
                                    <a href="/spaces/edit/@(space.Id)">Manage</a>
                                }
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
function openChannelView(spaceId, channelId) {
    
    // <iframe src="/keys/pick-url?spaceId=@(Model)" style="border: none; width: 100%; height: 43rem;" ></iframe>
    var iframe = $("<iframe/>").attr("src", `/keys/pick-url?spaceId=${spaceId}&channelId=${channelId}`)
                            .attr("style", "border: none; width: 100%; height: 30rem;"); 
    // debugger;
    $('#exampleModal .modal-body').html(iframe);
    $('#exampleModal').modal('show');
    // $('#myModal').on('shown.bs.modal', function () {
    //   $('#myInput').trigger('focus')
    // })
    }
</script>

@* <!-- Button trigger modal --> *@
@* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> *@
@*     Launch demo modal *@
@* </button> *@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* <iframe src="/keys/pick-url?spaceId=@(Model)" style="border: none; width: 100%; height: 25rem;" ></iframe> *@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
            </div>
        </div>
    </div>
</div>