@model Base2art.CiCd.PackageStore.Web.UI.MoveOuts.MultiAddInputModel

<script>


(function (wndw){
    var multiAdd_addItem = function(e) {
        var parent = $(e.target).closest(".form-group");
        var dataModalId = parent.attr("data-modal-id");
      
        // $('#exampleModal').on('show.bs.modal', function (event) {
        //   var button = $(event.relatedTarget) // Button that triggered the modal
        //   var recipient = button.data('whatever') // Extract info from data-* attributes
        //   // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        //   // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        //   var modal = $(this)
        //   modal.find('.modal-title').text('New message to ' + recipient)
        //   modal.find('.modal-body input').val(recipient)
        // })
        
        if (!parent.get(0).hasAttribute("data-modal-configured")) {
            parent.attr("data-modal-configured", "true");
            
            /*
            $(document.getElementById(dataModalId)).on('hidden.bs.modal', function (e) {
                    
                // alert(1);
                var person = $(".modalInput", $(document.getElementById(dataModalId))).val();
                if (person != null) {
                    var target = $(".list-group", parent);
                    
                    var span1 = $('<span class="list-group-item-display" />').text(person);
                    var span2 = '<a href="#" onclick="return multiAdd_removeItem(event)"><span class="badge badge-primary badge-pill"><i class="fas fa-trash"></i></span></a>';
                    var el = $('<li class="list-group-item d-flex justify-content-between align-items-center"/>').html([span1, span2])
                    target.append(el);
                    $(".modalInput", $(document.getElementById(dataModalId))).val("");
                }
            });
            
             */
        }
                
        
        
      
      // var person = prompt("Item to add", "Add Item");
        $(document.getElementById(dataModalId)).modal('show');
      
        return false;
    }
    
    var multiAdd_removeItem = function(e) {
        
        $(e.target).closest(".list-group-item").remove();
        return false;
    }
    
    if (!("multiAdd_addItem" in wndw)) {
        wndw["multiAdd_addItem"] = multiAdd_addItem;
    }
    
    if (!("multiAdd_removeItem" in wndw)) {
        wndw["multiAdd_removeItem"] = multiAdd_removeItem;
    }
    
    
})(window);

</script>

<div class="form-group" data-modal-id="modal@(Model.Id)" data-list-id="list@(Model.Id)">
    <label for="field@(Model.Id)">@Model.Label</label>
    <a href="#" onclick="return multiAdd_addItem(event)">
        <span class="badge badge-primary badge-pill">
            <i class="fas fa-plus"></i>
        </span>
    </a>
    <ul class="list-group" id="list@(Model.Id)">
        @foreach (var item in Model.Values ?? new string[0])
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <input class="list-group-item-display" name="@(Model.InputName)" value="@(item)" style="border: medium;" readonly="readonly">
                <a href="#" onclick="return multiAdd_removeItem(event)"><span class="badge badge-primary badge-pill"><i class="fas fa-trash"></i></span></a>
            </li>
        }
        @* <li class="list-group-item d-flex justify-content-between align-items-center"> *@
        @*     <span class="list-group-item-display">scott@base2art.com</span> *@
        @*     <a href="#" onclick="return multiAdd_removeItem(event)"> *@
        @*         <span class="badge badge-primary badge-pill"> *@
        @*             <i class="fas fa-trash"></i> *@
        @*         </span> *@
        @*     </a> *@
        @* </li> *@
        @* <li class="list-group-item d-flex justify-content-between align-items-center"> *@
        @*     <span class="list-group-item-display">code@base2art.com</span> *@
        @*     <a href="#" onclick="return multiAdd_removeItem(event)"> *@
        @*         <span class="badge badge-primary badge-pill"> *@
        @*             <i class="fas fa-trash"></i> *@
        @*         </span> *@
        @*     </a> *@
        @* </li> *@
        @* <li class="list-group-item d-flex justify-content-between align-items-center"> *@
        @*     <span class="list-group-item-display">nuget@base2art.com</span> *@
        @*     <a href="#" onclick="return multiAdd_removeItem(event)"> *@
        @*         <span class="badge badge-primary badge-pill"> *@
        @*             <i class="fas fa-trash"></i> *@
        @*         </span> *@
        @*     </a> *@
        @* </li> *@
    </ul>
</div>

<script>

function b2aSubmit@(Model.Id)Field(e) {
    var x = this;
    
    if (!e.target.checkValidity()) {
        return false;
    }

    
    var parent = $(".form-group", e.target);
    var dataModalId = parent.attr("data-modal-id");
    var dataListId = parent.attr("data-list-id");
    var person = $(".modalInput", $(document.getElementById(dataModalId))).val();
    if (person != null) {
        var target = $(document.getElementById(dataListId));
        
        
        // var span1 = $('<span class="list-group-item-display" />').text(person);
        var span1 = $('<input class="list-group-item-display" name="@(Model.InputName)" style="border: medium;" readonly="readonly">').val(person);
        var span2 = '<a href="#" onclick="return multiAdd_removeItem(event)"><span class="badge badge-primary badge-pill"><i class="fas fa-trash"></i></span></a>';
        var el = $('<li class="list-group-item d-flex justify-content-between align-items-center"/>').html([span1, span2])
        target.append(el);
        $(".modalInput", $(document.getElementById(dataModalId))).val("");
        parent.closest('.modal').modal('hide')
    }
    
    return false;
}

window.addEventListener("load", function (){

    var buildHtml = function (x,y){};
    buildHtml = function (parentNode, parentData){
        
        var el = $(document.createElement(parentData.tag), parentData.attrs).appendTo(parentNode);
        
        if ((parentNode.text || "") !== "") {
            el.text(parentData.text);
        }
        
        el.attr(parentData.attrs);
        
        var childs = parentData.children || [];
        for (var i = 0; i < childs.length || 0; i++) {
            buildHtml(el, childs[i]);
        }
        
        // return el;
    };
    
    var modalHeader = {
        tag: "div",
        attrs: {"class":"modal-header"},
        children:[
          {
              tag: "h5",
              attrs: {"class":"modal-title", id: "modal@(Model.Id)Label"},
              text: "Modal title"
          },
          {
              tag: "button",
              attrs: {"type":"button", "class":"close", "data-dismiss":"modal", "aria-label":"Close" },
              children:[
                  {
                    tag: "span",
                    attrs: {"aria-hidden":"true"},
                    text: "×"
                  }
              ]
          }
        ]
    };
    
    var modalBody = {
        tag: "div",
        attrs: {"class":"modal-body"},
        children:[
            {
                tag: "div",
                attrs: {"class":"form-group", "data-modal-id": "modal@(Model.Id)", "data-list-id":"list@(Model.Id)"},
                children:[
                    {
                        tag: "label",
                        attrs: {"for":"modal@(Model.Id)Input"},
                        text: "@(Model.Label)"
                    },
                    {
                        tag: "input",
                        attrs: {
                            "type": "@(Model.Type ?? "text")",
                            "class":"form-control modalInput",
                            "id":"modal@(Model.Id)Input",
                            "placeholder": "",
                            "required": "true"
                        }
                    }
                ]
            }
        ]
    };
    // "type":"button"
    var modalFooter = {
        tag: "div",
        attrs: {"class":"modal-footer"},
        children:[
          {
              tag: "button",
              attrs: { "class":"btn btn-secondary", "type": "submit", "data-dismiss":"modal"},
              text: "Close"
          },
          {
              tag: "button",
              attrs: {"class":"btn btn-primary", "type": "submit"},
              text: "Save changes"
          }
        ]
    };
    
    var content = {
        tag: "div",
        attrs: {"class":"modal fade", "id":"modal@(Model.Id)", "tabindex":"-1", "role":"dialog", "aria-hidden":"true"},
        children:[
            {
                tag: "div",
                attrs: {"class":"modal-dialog", "role":"document"},
                children:[
                    {
                        tag: "div",
                        attrs: {"class":"modal-content"},
                        children:[
                            {
                                tag: "form",
                                attrs: {
                                    "onsubmit":"return b2aSubmit@(Model.Id)Field(event)",
                                    @*"class":"form-group", "method": "post" *@
                                },
                                children:[modalHeader, modalBody, modalFooter]
                            }
                        ]
                    }
                ]
            }
        ]
    }

    buildHtml($("body"), content)
    
});

</script>
